*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    color: #999;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #222;
    overflow-x: hidden;
}
/*Nav bar*/
.nav{
    width: 100%;
    height: 60px;

    background: linear-gradient(#F7971E,#FFD200);
    background-repeat: repeat-x;
    background-position: center;

    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 10;
    
}
.nav-left{
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'LoveString-OVEDo';
    src: local('LoveString-OVEDo'), url('../fonts/LoveString-OVEDo.ttf');
}
.nav-left span{
    font-size: 25px;
    color: #f4f4f4;
    font-family: 'LoveString-OVEDo';
    text-align: center;
    opacity: 0;
    letter-spacing: 3px;
}
span.active{
    opacity: 1;
}
span.active:nth-child(8),
span.active:nth-child(9),
span.active:nth-child(10),
span.active:nth-child(11),
span.active:nth-child(12),
span.active:nth-child(13),
span.active:nth-child(14),
span.active:nth-child(15) {
    color: #f51d4c;
}
.nav-left h1:hover{
    cursor: pointer;
}
.nav-right{
    width: 75%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul{
    margin-left: 50%;
}
.nav-right li{
    list-style-type: none;
    display: inline-flex;
    margin-top: 10px;
    margin-right: 40px;
}
.nav-right a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
    
    position: relative;
    overflow: hidden;
}
.nav-right a::before{
    content: "";
    width: 100%;
    height: 14%;
    background-color: #f51d4c;
    border-radius: 10px;
    margin-bottom: 5px;

    position: absolute;
    bottom: 0;
    left: 0;

    transform: rotateY(90deg);

    transition: all 1s;
    
}
.nav-right a:hover::before{
    transform: rotate(0deg);
}
@media screen and (max-width: 1236px){
    .nav ul{
        margin-left: 0%;
    }
}
@media screen and (max-width: 1050px) {
    .nav{
        height: 200px;
    }
    .nav-left h1{
        text-align: center;
    }
    .nav-left span{
        font-size: 50px;
    }
    .nav-right ul{
        margin-left: 10%;
    }
    .nav-right li{
        margin-right: 25px;
    }
    .nav-right a{
        font-size: 40px;
    }
}
/*body*/
.row-1{
    width: 100%;
    height:4550px;
    margin-top: 60px;
}
.row-1 div{
    float: left;
    margin-top: 2%;
    margin-left: 2%;

    transition: all 0.5s;
}
.row-1 img{
    width: 100%;
    height: 100%;

    border-radius: 20px;
}

.chh-1{
    width: 22.5%;
    height: 380px;
}
.chh-1 img{
    object-fit: cover;
}
.chh-2{
    width: 22.5%;
    height: 200px;
}
.change img{
    object-fit: fill;
}
/* .chh-2 img{
    object-fit: cover;
} */
.chh-3{
    width: 22.5%;
    height: 100px;
    margin-top: 45%;
}
.row-1 div:hover{
    transform: scale(0.97);
}
@media screen and (max-width: 1050px) {
    .row-1 div{
        margin-left: 10%;
        margin-bottom: 40px;
    }
    .row-1 div:hover{
        transform: scale(1);
    }
    .chh-1{
        width: 80%;
        height: 1000px;
    }
    .chh-3{
        width: 80%;
        height: 200px;
    }
    .chh-2{
        width: 80%;
        height: 600px;
        margin-top: 25%;
    }
}
.footer{
    width: 100%;
    height: 40px;
    background-color: #3f029c;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}
.footer span{
    color: #fff;
}